* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* LAYOUTS */
.bg-grey {
  background-color: rgb(244, 249, 253);
}

.bg-grad {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: rgb(255, 255, 255);
}

.bg-white {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px rgb(206, 206, 206);
  border-radius: 5px;
}

.bg-dgrey {
  background-color: rgb(50, 73, 91);
  color: rgb(255, 255, 255);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin: 0 auto;
}

div.row:after {
  content: "";
  clear: both;
  display: table;
}

[class^=column-] {
  float: left;
}

.column-75 {
  width: 75%;
}

.column-70 {
  width: 70%;
}

.column-65 {
  width: 65%;
}

.column-50 {
  width: 50%;
}

.column-35 {
  width: 35%;
}

.column-30 {
  width: 30%;
  padding: 0 20px;
}

.column-25 {
  width: calc(100%/4);
}

.fa-angle-down {
  cursor: pointer;
}

.fa-search {
  cursor: pointer;
  color: rgb(0, 164, 189)
}

.divider {
  border-right: 2px solid rgb(0, 0, 0);
  padding-right: 10px;
}

nav div ul, main div ul, footer div ul {
  list-style: none;
}

nav div ul li, main div.column-75 ul li, footer div.column-50 ul li {
  display: inline;
}

header div a, main div a {
  text-decoration: none;
  color: rgb(50, 73, 91);
}
/* LAYOUTS */

/* UTILITY */
.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mlr-1 {
  margin: 0 5%;
}

.pl-1 {
  padding-left: 10px;
}

.pl-5 {
  padding-left: 50px;
}

.pb-3 {
  padding-bottom: 35px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-4 {
  padding-top: 40px;
}

.fs-1 {
  font-size: .8em;
}

.fs-3 {
  font-size: 3em;
}

.br-r {
  border-right: 1px solid rgb(255, 255, 255);
}

.br-b {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.tx-alg {
  text-align: center;
}
/* UTILITY */

/* BUTTONS */
.btn {
  padding: 10px 10px;
  border-radius: 5px;
}

.btn-log {
  border: 1px solid rgb(254, 120, 90);
  background-color: rgb(255, 255, 255);
  color: rgb(254, 120, 90);
}

.btn-orange {
  background-color: rgb(254, 120, 90);
  color: rgb(255, 255, 255)
}

.btn-contact {
  background-color: rgb(194, 201, 206);
  color: rgb(0, 0, 0);
}

.btn-big {
  padding: 18px 30px;
}
/* BUTTONS */

/* HEADER */
/* TOP NAV */
.top-nav {
  position: fixed;
  border-bottom: 2px solid rgb(0, 0, 0);
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  line-height: 80px;
}
/* TOP NAV */
.right-nav {
  float: right;
  text-align: right;
}

.left-nav {
  float: left;
}
/* BOTTOM NAV */
.bottom-nav {
  height: 80px;
  margin-top: 80px;
  line-height: 80px;
}

.bottom-nav li {
  padding-left: 10px;
}

.bottom-nav a {
  font-weight: 600;
}

.logo {
  vertical-align: middle;
}
/* BOTTOM NAV */
/* JUMBO */
.bg-jumbo {
  background-image: url(../img/jumbotron.png);
  height: 695px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-jumbo {
  width: 50%;
  padding-top: 80px;
}

.text-jumbo p {
  font-weight: 600;
}

.road {
  position: relative;
  top: 250px;
  width: 100%;
  height: 80px;
  background-color: rgb(175, 235, 228);
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
/* JUMBO */
/* HEADER */

/* MAIN */
/* MAIN TOP */
.img-cube {
  display: block;
  margin: 0 auto;
  width: 250px;
}

.pop-feat {
  text-transform: uppercase;
  font-weight: bold;
}

.line {
  width: 60%;
  display: inline-block;
  margin-bottom: 4px;
  background: black;
  margin-left: 50px;
}

.line-small {
  width: 90%;
  display: inline-block;
  margin-bottom: 4px;
  background: black;
}

main p {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

.cubo {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

main ul {
  margin-top: 20px;
}

main ul li {
  margin-right: 15px;
}

main div.bg-white ul li:before {
  content: "\2713";
  border-radius: 50%;
  color: white;
  font-weight: 900;
  background-color: rgb(254, 120, 90);
  padding: 2px 5px;
  font-size: 10px;
  margin-right: 15px;
}

main div.column-30 ul {
  text-align: left;
}

main div.row:nth-child(2) {
  padding: 60px;
}

main div.bg-white img {
  display: block;
  width: 50%;
  height: 100px;
  position: relative;
  left: 25%;
  margin-bottom: 20px;
}
/* MAIN TOP */

/* MAIN CENTER */
.plus {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.plus:after {
  content: "\002B";
  padding-left: 5px;
}

main div.column-25 img {
  margin-bottom: 30px;
  margin-top: 20px;
}
/* MAIN CENTER */

/* MAIN BOTTOM */
main div.column-75 img {
  vertical-align: middle;
  width: 15%;
  height: auto;
}

.company-logos {
  text-align: center;
}

.img-right {
  width: 300px;
  float: right;
}
/* MAIN BOTTOM */
/* MAIN */

/* FOOTER */
footer div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

footer div ul li {
  margin-bottom: 20px;
}

footer div ul li i {
  padding-right: 25px;
}

.languages {
  padding: 0 10px;
}

footer div.column-50 ul {
  float: right;
}

footer div.column-50 ul li{
  padding-left: 20px;
}
/* FOOTER */
